

/* ------- general ------- */

@font-face {
  font-family: "Ailerons";
  src: url(/assets/font/Ailerons/Ailerons.ttf) format("truetype");
}

html {
  min-height: 100vh;
}

body {
  background-image: url("/assets/backgrounds/isopleths.png");

  font-family: "Alegreya Sans", sans-serif;
}

/* ------- header / nav / search ------- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

aside {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: center;
  font-size: 1.5em;

  margin: 2em 2em 1em 2em;
}

.navigation {
  display: flex;

  justify-content: space-between;

  margin: 0.5em 0.5em;

  font-size: 0.8em;
  font-weight: 50;
  text-transform: uppercase;
}

.logo {
  display: flex;

  align-items: center;
  flex-flow: column;

  margin: 4em 2em 4em 5em;
}

a {
  margin: 0 1.2em;
  text-decoration: none;
  color: #595858;
}

a:hover {
  font-weight: bolder;
}


/* interferes with modal form; use specific selectors (class) */
form {
  margin: 0.5em 0.5em 1.5em 0.5em;
  display: flex;

  border-radius: 5px;
  padding: 2px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

input[type="search"] {
  border: none;
  background: white;
  margin: 0;
  padding: 5px 5px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  /* these two hide the button text */
  text-indent: -999px;
  overflow: hidden;

  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.3;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #868686;
  outline: none;
  color: #595858;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* ------- main ------- */

main {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: auto;

  margin: 7em 4em;
}

/* ------- IMG ------- */

img {
  display: flex;
  max-width: 100%;
  flex-grow: 1;
}

#logo {
  float: left;
  width: 7em;
  margin-bottom: 1em;
}

.cover-image {
  /* covers the whole page */
  width: 150vw;
  overflow: visible;
  margin: unset;
}

#img-1,
#img-2,
#img-3,
#img-4,
#img-5 {
  display: flex;
}

#fb-img,
#insta-img {
  max-width: 1.7em;
  margin: auto 0.5em;
}

/* ------- grid element organization ------- */

#img-1 {
  grid-column: 1 / 7;
  grid-row: 1 / 2;

  margin-bottom: 7em;
}

#title {
  grid-column: 7 / 11;

  text-align: center;
  padding-left: 3em;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 2.2em;
}

#txt-1 {
  grid-column: 1 / 5;
  grid-row: 2 / 3;

  font-size: 1.5em;
  padding: 0 2em 0 0;
  word-break: break-all;
  line-height: 1.7em;
  font-weight: 100;
}

#img-2 {
  grid-column: 6 / 11;
  grid-row: 2 / 3;

  margin-bottom: 7em;
}

#subtitle {
  grid-column: 4 / 8;
  grid-row: 3 / 4;

  margin: 1em 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Ailerons";
  font-weight: 50;
  margin-bottom: 2.5em;
  font-size: 2.5em;
  color: #595858;
}

.img-3__container {
  grid-column: 1 / 7;
  grid-row: 4 / 5;
}

#txt-2 {
  grid-column: 8 / 10;
  grid-row: 4 / 5;

  font-size: 1.5em;
  padding: 0 0 0 2em;
  word-break: break-all;
  line-height: 1.7em;
  font-weight: 100;
}

#img-4 {
  width: 150vw;
}

article {
  margin: 7em 4em 4em 4em;
}

article > p {
  display: block;
}

.img-5__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;

  margin: 7em 4em;
}

#img-5 {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  grid-row: auto;
  max-width: 80%;
}

#gpx {
  grid-column: 5 / 7;
  grid-row: 1 / 2;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 2em;
  text-transform: uppercase;
}

.bottom-border {
  border-bottom: 0.5px solid gray;
  grid-column: 2 / 6;

  margin-top: 10em;
}

.gallery-header {
  display: flex;
  margin: 2em 0 0.5em 0;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;

  font-family: Alegreya Sans SC;
  text-transform: capitalize;
  font-size: 3em;
  color: #595858;
  font-weight: 300;
}

a:hover {
  font-weight: bolder;
}

.img-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

/* ------- TXT ------- */

.logo-txt {
  float: left;

  color: #595858;
  font-family: "Ailerons";
  font-size: 1.5em;
  font-weight: 50;
}

h1 {
  font-family: "Ailerons";
  font-weight: 100;
  color: #595858;
}

p {
  display: flex;
}

article > p {
  font-size: 1.5em;

  /* aligns words from side to side */
  word-break: break-all;
  line-height: 1.7em;
  font-weight: 100;
}

.img-description {
  margin-top: 2em;
  font-weight: 100;
  color: #595858;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.img-description-2 {
  margin: 2em 0 0 6em;
  font-weight: 100;
  color: #595858;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

/* ------- footer ------- */

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: baseline;

  margin: 4em 3em;
}

.facebook,
.instagram {
  margin: 0 0.5em 1em 0.5em;
}

.logo-txt-2 {
  margin: 0 0.5em 0 2em;
  font-family: "Ailerons";
  font-weight: 50;
  font-size: 2em;
  color: #7f7f7f;
}

/* ------- slider small ------- */

.slide-container {
  display: flex;

  width: 100%;
  height: 60vh;
  align-items: center;
  overflow: hidden;
}

.image-slider {
  display: flex;

  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;

  transition: 0.7s;
}

.slides-div {
  display: flex;

  align-items: center;
  justify-content: center;

  margin: 0 30px;
}

.img {
  position: relative;

  height: 100%;
  width: 20em;

  transition: 0.5s;
}

.button {
  position: absolute;

  width: 20em;
  height: 20em;

  transition: 0.5s;
}

.button:hover {
  background-color: transparent;
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1,
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2,
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3,
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4 {
  width: 40em;
  height: auto;
  padding: 0 0.7em;

  background-color: transparent;
}

#slider-span1:target ~ .image-slider,
#slider-span2:target ~ .image-slider,
#slider-span3:target ~ .image-slider,
#slider-span4:target ~ .image-slider {
  left: 0%;
}
