.modal-container {
  background: url("../../assets/backgrounds/isopleths.png");

  background-color: #cccaca47;
  margin: 4em;
  padding: 1.5em 2em 2.5em 2em;
  width: 40vw;
  border-radius: 3px;

  /*  this combo allows to click and animate opacity */
  opacity: 0;
  pointer-events: none;

  position: absolute;
  height: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
}

/* when background clicked */
.modal-container.open {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%) scale(1);
}

/* hides (and REMOVES) the rest of the page content from the layout*/
.home.close {
  display: none;
}

.exit,
.contact-header,
.name,
.email,
.message,
.submit,
.reset {
  font-family: Alegreya Sans SC, sans-serif;
  color: #737373;
}

.exit {
  text-align: right;
}

.contact-header {
  position: relative;
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: 0.09em;
  border-bottom: 0.4px solid #737373;
  max-width: fit-content;
  line-height: 1.8em;
  margin-bottom: 3em;
}

label {
  margin-bottom: 0.7em;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3em;
}

.name {
  display: flex;
  flex-direction: column;

  font-weight: 300;
  letter-spacing: 0.09em;
}

#name {
  width: 14em;
  padding: 0.3em;
  background-color: transparent;
  margin-right: 2em;
  font-family: Alegreya Sans, sans-serif;
  color: #737373;
}

#name:focus {
  outline: 1px solid #737373;
  color: #737373;
  letter-spacing: 0.09em;
  background: transparent;
}

.email {
  display: flex;
  flex-direction: column;
  letter-spacing: 0.09em;
  font-weight: 300;
  text-transform: capitalize;
}

#email {
  width: 14em;
  padding: 0.3em;
  background-color: transparent;
  font-family: Alegreya Sans, sans-serif;
  color: #737373;
}

#email:focus {
  outline: 1px solid #737373;
  font-family: Alegreya Sans, sans-serif;
  color: #737373;
  letter-spacing: 0.09em;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  letter-spacing: 0.09em;
  font-weight: 300;
}

textarea {
  width: 16em;
  padding: 0.3em;
  background-color: transparent;
  font-family: Alegreya Sans, sans-serif;
  color: #a4a4a4;
  letter-spacing: 0.09em;

  padding: 1em 1.5em;
  width: auto;
  font-size: 0.8em;
}

textarea:focus {
  outline: 1px solid #737373;
  font-family: Alegreya Sans, sans-serif;
  color: #737373;
  letter-spacing: 0.09em;
}

#email,
#name,
textarea {
  border: 0.4px solid #737373;
  border-radius: 3px;
}

.buttons {
  margin-bottom: 3em;
}

.submit {
  margin-right: 1em;
  padding: 0.4em 4em;
  letter-spacing: 0.09em;
  text-transform: lowercase;
  font-weight: 300;
  background-color: #fffcfc;
  border: 0.4px solid #737373;
  border-radius: 3px;
}

.submit:hover {
  color: #ededed;
  background: #5c7548;
  font-weight: 500;
}

.reset {
  padding: 0.4em 2em;
  letter-spacing: 0.09em;
  text-transform: lowercase;
  color: #ededed;
  font-weight: 300;
  background: #969696;
  border: 0.4px solid #737373;
  border-radius: 3px;
}

.reset:hover {
  color: #ededed;
  /* color: #737373; */
  background-color: #db5453;
  font-weight: 500;
}

/* ------- footer ------- */

#modal-logo {
  width: 2.5em;
}

#modal-fb-img,
#modal-insta-img {
  width: 1em;
}